#leaderboards{
    display: none;
}

.leaderboard{
    display: block;
    margin: auto;
    width: 25%;
}

caption{
    align-self: auto;
}

.leaderboard > tbody, .leaderboard > thead{
    margin: auto;
    width: 100%;
    display: table;
   /* background-color: red;*/
    border: 0.1em solid black;
}

.backfromboards{
	display: block;
    width: 20%;
	margin: auto;
	margin-top: 5%;
}

.leaderboard > thead > td{
    text-align: center;
}

.cell34 {
    width: 25%;
    text-align: center;
}
.cell1{
    width: 10%;
    text-align: center;
}

.cell2{
    width: 40%;
    text-align: center;
}